{% extends 'layouts/base.twig' %}

{% block main_content %}
	<h2>All Products:</h2>
	<ul>
		{% for image in images %}
			<li>
				<a href="/images/{{ image.id }}">{{ image.id }}.jpg</a> 
				(Linked to variant 
				<a href="/variants/{{ image.variantId }}">
					{{ image.Variant.title }} #{{ image.variantId }}
				</a>) - 
				<a href="/images/{{ image.id }}">Edit</a>
				| 
				<a href="/images/{{ image.id }}/delete">Delete</a>
			</li>
		{% endfor %}
	</ul>
	<a href="/images/new">Create New Image</a>
{% endblock %}